<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newstee" >
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
           
        </activity>
        <activity
            android:name=".CarModeListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".CarModeFragmentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CanalFragmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".MediaPlayerFragmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".TestActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:launchMode="singleTop"
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"

            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>-->


        <service android:name="com.newstee.MusicService" />
    </application>

</manifest>
